@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    /* background: #f5f5f5; */
    min-width: 100vh;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

    main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .card {
            width: 370px;
            background: #ffffff;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
            display: grid;
            justify-content: center;
            align-items: center;

            .card-image-container {
                background: #000000 ;
                background-clip: border-box;
                width: 370px;
                height: 220px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    border-radius: 150px;
                    width: 200px;
                    height: 200px;
                    border: 5px solid #ffffff;
                }
            }

            .card-info {
                justify-content: center;
                display: grid;
                gap: 10px;
                text-align: center;
                background: #989898;
                color: #ffffff;

                h2 {
                    padding: 20px 0px 0px 0px;
                    font-size: 25px;
                    margin: 0px 0px 10px 0px;
                }

                p {
                    font-size: 20px;
                    margin: 0px;
                }

                .card-social {
                    margin: 10px 0px 20px 0px;

                    img {
                        width: 50px;
                        height: 50px;
                    }

                    img:hover {
                        width: 47px;
                        height: 47px;
                        background: #ffffff;
                        border-radius: 10px;
                    }
                }
            }

            .card:hover {
                transform: translateY(-10px);
                box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
            }
        }
    }
}

@media (max-width: 580px) {

    body {
        min-width: 200px;
        background: url(../img/fundoCelular.jpg) no-repeat center;

        main {
            & .card {
                box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.3);
                & .card-info {
                    gap: 15px;

                    h2 {
                        padding: 25px 0px 0px 0px;
                        margin: 0px;
                    }

                    p {
                        margin: 0px;
                    }

                    .card-social {
                        margin: 10px 0px 20px 0px;
                    }
                }
            }
        }
    }

}
